.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 450px;
    height: 50px;
    background: #00adb5;
    padding: 1em;
    font-size: 1.2rem;
    color: #eee;
    /* margin: 1em auto 0 auto; */
    border-radius: 7px;
    position: fixed;
    z-index: 50;
    top: 3%;
    left: 50%;
}

@media only screen and (max-width: 600px) {
    .banner {
        width: 170px;
        height: auto;
        font-size: 1rem;
        padding: 0.4em;
        top: 1%;
    }
}