.procedures {
  height: max-content;
  color: #000;
  padding: 15% 5%;
  background-color: #fffff0;
}

.procedures h2 {
  font-size: 1.4rem;
  position: relative;
  margin-bottom: 1.5em;
  color: #2e2828;
}

.procedures h2::after {
  content: "";
  position: absolute;
  bottom: -25%;
  left: 0;
  width: 60px;
  height: 6px;
  background-color: rgb(37, 153, 37);
}

.procedures li {
  font-size: 1.1rem;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 0.5em 0;
}

.procedures .checkmark {
  display: inline-block;
  min-width: 25px;
  height: 25px;
  margin-right: 5px;
}

.procedures .button {
  margin: 1.5em 0;
  width: 160px;
  height: 40px;
  background-color: #2e2828;
  border: none;
}

.procedures .button a {
  color: #fff;
}

@media only screen and (min-width: 650px) {
  .procedures {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .procedures h2 {
    font-size: 2rem;
  }

  .procedures li {
    font-size: 1.3rem;
  }

  .procedures .button {
    margin-top: 3em;
    width: 200px;
    height: 50px;
    cursor: pointer;
  }

  .procedures .button a {
    font-size: 1rem;
  }
}

@media only screen and (min-width: 1000px) {
  .procedures h2 {
    font-size: 3rem;
  }
  .procedures li {
    font-size: 1.5rem;
  }
}
